<div id="dropZone" appDnd (fileDrop)="fileDrop($event)">
  <label class="fileContainer">
  Upload a file
    <input type="file" (change)="fileChangeListener($event);" />
  </label>
</div>

<div class="ui divider"></div>
<div *ngIf="fileLoaded" class="my-icon" aria-label="My Icon">
  <h1 class="ui header">{{fileShell.fileName}}</h1>
  <div class="ui positive message" *ngIf="fileShell.fileContents == fileShell.returnContents">
    <div class="header">
      Congrats! the contents Match
    </div>
  </div>
  <div class="ui negative message" *ngIf="fileShell.fileContents != fileShell.returnContents">
    <div class="header">
      Something went wrong here :(
    </div>
  </div>

  <h2 class="ui header">Loaded Contents</h2>
  <div class="ui form">
    <div class="field">
      <textarea>{{fileShell.fileContents}}</textarea>
    </div>
  </div>
  <h2 class="ui header">Returned Contents</h2>
  <div class="ui form">
    <div class="field">
      <textarea>{{fileShell.returnedContents}}</textarea>
    </div>
  </div>
</div>